section div.visited{
    width: 100%;
    height: 300px;
    display: flex;
    background-image: url('../../img/location.jpg');
    background-size: cover;
    background-position: center;
}
section .visited h1{
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding-top: 22px;
    margin-bottom: 40px;
}

 section .visited-mask{
    background-color:rgba(11, 90, 158, 0.61);
    width: 100%;
    height: 100%;
}

.visited .visited-locale{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.visited .col-visited img{
    width: 206px;
    height: 110px;
    padding: 0px 20px;
}
.visited .legend{
    margin: 10px 0 0 0px;
    text-align: center;
}
.visited p {
    text-align: center;
    font-size: 12px;
}